<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Anasayfa</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis enim eum sapiente suscipit accusamus sit explicabo eos laudantium quisquam ad fugit totam illum eligendi qui porro velit doloremque rerum assumenda, dolor, mollitia quo ratione ipsa laborum corporis! Alias expedita nobis porro dolor debitis ex delectus quod qui laboriosam eligendi, necessitatibus explicabo consequatur doloribus possimus ducimus sapiente neque aut eos nisi tempora. Harum rem mollitia vel enim, sit nesciunt obcaecati laborum quia fuga maxime amet velit minima! Obcaecati nostrum eum fugiat nisi, asperiores repudiandae corporis suscipit aliquam non nobis sapiente eos temporibus maxime officiis! Ab, perferendis. Odit maiores voluptate consequuntur autem!</p>
</body>
</html>